.contract-in {
    animation-name: contract;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}
@keyframes contract {
    from {
        transform: scale(1.25);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.file-viewer { 
    position: fixed;
    z-index: 2;
    background-color: white;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%) scale(0,0);
    transition: .5s ease all;
  }
  
  .file-viewer.open {
    transform: translate(-50%, -50%) scale(1,1);
    transition: .5s ease all;
  }
  
  .file-view-content {
    max-height: 80vh;
    max-width: 80vw;
    min-height: 50px;
    min-width: 50px;
  }
  