<div *ngIf="!isLoaded" class="signal"></div>

<div [style.overflow-x]="'auto'" *ngIf="isLoaded">
  <div style="display:grid; grid-template-columns: 1fr 1fr">
    <div>
      <button class="btn btn-danger mb-1" (click)="deleteAllSelectedTokens()">Delete</button>
      <button class="btn btn-primary mb-1 ml-2" (click)="getNewToken()">New</button>
    </div>

    <div class="text-right">
      Filter:
      <input #filterInput (input)="applyFilter(filterInput.value)" (change)="applyFilter(filterInput.value)" />
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><input #selectAllCheckbox type="checkbox" (change)="toggleSelectAll(selectAllCheckbox.checked)" />
        </th>
        <th class="sortable-header" (click)='toggleColumnSorting(0)'>
          Description
          <fa-icon [icon]="currentSortIcon" *ngIf="currentSortColumn == 0 && currentSortIcon != null">
          </fa-icon>
        </th>
        <th class="sortable-header" (click)='toggleColumnSorting(1)'>
          Token
          <fa-icon [icon]="currentSortIcon" *ngIf="currentSortColumn == 1 && currentSortIcon != null">
          </fa-icon>
        </th>
        <th class="sortable-header" (click)='toggleColumnSorting(2)'>
          Date Created
          <fa-icon [icon]="currentSortIcon" *ngIf="currentSortColumn == 2 && currentSortIcon != null">
          </fa-icon>
        </th>
        <th class="sortable-header" (click)='toggleColumnSorting(3)'>
          Last Used
          <fa-icon [icon]="currentSortIcon" *ngIf="currentSortColumn == 3  && currentSortIcon != null">
          </fa-icon>
        </th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let authToken of filteredData;'>
        <td>
          <input #fileSelectCheckbox type="checkbox" [checked]="authToken.isSelected"
            (change)="toggleTokenSelected(authToken.token, fileSelectCheckbox.checked)" />
        </td>
        <td>
          <div *ngIf="!authToken.isInEditMode" (click)="toggleEditMode(authToken.token)" [style.cursor]="'pointer'">
            {{authToken.description}}
          </div>
          <input #descriptionInput type="text" [value]="authToken.description" *ngIf="authToken.isInEditMode"
            (blur)="updateTokenDescription(authToken.token, descriptionInput.value)" />
        </td>
        <td>{{authToken.token}}</td>
        <td>{{authToken.dateCreated.toLocaleString()}}</td>
        <td>{{authToken.lastUsed ? authToken.lastUsed.toLocaleString() : ""}}</td>
        <td>
          <button class="btn btn-link text-danger" (click)="deleteToken(authToken.token)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>