<div [style.overflow-x]="'auto'">
  <div style="display:grid; grid-template-columns: 1fr 1fr">
    <div>
      <button class="btn btn-danger mb-1" (click)="deleteAllSelectedKeys()">Delete</button>
      <button class="btn btn-primary mb-1 ml-2" (click)="getNewKey()">New</button>
    </div>

    <div class="text-right">
      Filter:
      <input #filterInput (input)="applyFilter(filterInput.value)" (change)="applyFilter(filterInput.value)" />
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><input #selectAllCheckbox type="checkbox" (change)="toggleSelectAll(selectAllCheckbox.checked)" />
        </th>
        <th class="sortable-header" (click)='toggleColumnSorting(0)'>
          Description
          <fa-icon [icon]="currentSortIcon" *ngIf="currentSortColumn == 0 && currentSortIcon != null">
          </fa-icon>
        </th>
        <th class="sortable-header" (click)='toggleColumnSorting(1)'>
          Date Created
          <fa-icon [icon]="currentSortIcon" *ngIf="currentSortColumn == 1 && currentSortIcon != null">
          </fa-icon>
        </th>
        <th class="sortable-header" (click)='toggleColumnSorting(2)'>
          Last Used
          <fa-icon [icon]="currentSortIcon" *ngIf="currentSortColumn == 2  && currentSortIcon != null">
          </fa-icon>
        </th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let key of filteredData;'>
        <td>
          <input #fileSelectCheckbox type="checkbox" [checked]="key.isSelected"
            (change)="toggleKeySelected(key.guid, fileSelectCheckbox.checked)" />
        </td>
        <td>{{key.description}}</td>
        <td>{{key.dateCreated.toLocaleString()}}</td>
        <td>{{key.lastUsed.toLocaleString()}}</td>
        <td><a href="#" class="text-danger" (click)="deleteKey(key.guid)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>